.leftSection {
  display: inline-block;
  float: left;
  width: 20%;
  text-align: center;
  margin-left: 20px;
  margin-top: -75px;
  img {
    display: inline-block;
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
  }
}
